@charset "UTF-8";

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Font Faces */
@font-face {
    font-family: "SourGummy";
    src: url("../fonts/SourGummy-VariableFont_wdth_wght.ttf");
}
@font-face {
    font-family: Inknut;
    src: url("../fonts/InknutAntiqua-Regular.ttf");
}

/* Root Variables */
:root {
    --font1: normal normal .9em 'Inter', sans-serif;
    --font2: SourGummy;
    --font3: Inknut;
    --color1: #044b04;
}

/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: transparent;
}
body {
    width: 100%;
    font: var(--font1);
}

/* Layout Containers */
.container {
    background-color: #044b041f;
    padding: 8px 8px 16px 8px;
}
main {
    min-height: 500px;
    width: 100%;
}

/* Header */
header {
    background-color: var(--color1);
    box-shadow: 0px 0px 12px 0px #4f584fa1;
}
#header-logo {
    background-color: var(--color1);
    text-align: center;
    color: white;
    padding: 16px;
}
#header-logo h1 {
    font-size: 2em;
    font-family: var(--font2);
}
#header-logo p {
    margin-top: -12px;
    padding-bottom: 0;
    font-family: var(--font2);
    font-size: 1em;
}
#header-quote {
    background-color: white;
    padding: 8px;
    box-shadow: inset 0px 0px 12px 0px #4f584fa1;
}
#header-quote blockquote {
    padding: 8px;
    text-align: center;
    font-size: 0.7em;
}
#header-quote blockquote footer {
    padding-top: 8px;
    font-variant: small-caps;
    font-size: .9em;
}
.header-bottom {
    max-width: 900px;
    margin: auto;
    padding: 8px;
    font-family: var(--font2);
    font-variant: small-caps;
    background-color: var(--color1);
}
.header-bottom a {
    margin-right: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fbfbfb;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.226);
    width: 120px;
}
.header-bottom a:first-child {
    margin-left: 24px;
}
.header-bottom a:hover {
    text-decoration: underline;
}

/* Footer */
body > footer {
    padding: 16px 8px 8px 8px;
    text-align: center;
    line-height: 2em;
    font-size: .7em;
    background-color: var(--color1);
    color: white;
}
footer .social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}
footer .social-links a {
    text-decoration: none;
    color: white;
    margin-right: 16px;
}
footer .social-links a:nth-child(odd) {
    margin-right: 8px;
}
body > footer a:hover {
    text-decoration: underline;
}

/* Hide Sections */
#left-section,
#right-section {
    display: none;
}

/* Typography */
h2, h3 {
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: "Roboto Slab", serif;
    color: black;
}
h2 {
    font-variant: small-caps;
}
ul {
    list-style: none;
}

/* Boxes and Panels */
.box {
    display: block;
    height: fit-content;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 0px #0000001c;
    font-size: .9em;
    margin-bottom: 8px;
}
.box-title {
    padding: 4px;
    border-bottom: 1px solid #40404077;
    margin-bottom: 8px;
}
.panel {
    background-color: #f0f0f0;
    margin: 16px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
}
.panel h2 {
    margin-top: 0;
    margin-left: 8px;
    margin-bottom: 8px;
    padding: 0;
    color: #044b04;
    border-bottom: 1px solid rgba(169, 169, 169, 0.719);
}
.panel-list {
    list-style: none;
    padding: 16px;
}
.panel-list-item {
    padding: 8px;
    border-bottom: 1px solid rgba(169, 169, 169, 0.719);
}
.panel-list-item a {
    text-decoration: none;
    color: #404040;
}
.panel-list-item a:hover {
    font-weight: bold;
    color: #044b04;
}
.toc-panel > .panel-list-item > a:hover::before {
    content: '> ';
}
.toc-panel {
    font-size: .9em;
}

/* Links */
.link {
    text-decoration: none;
    color: #044b04;
}
.link:hover {
    text-decoration: underline;
}

/* Summary Section */
.summary-title {
    margin-bottom: 16px !important;
}
.summary-sub-title {
    margin-top: 16px;
}
.summary-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.summary-item {
    flex: 0 0 170px;
    margin: 4px;
    padding: 8px !important;
    text-align: justify;
}
.summary-item:last-child {
    border: none;
}
.summary-item article > a,
.index-item-content h3 a {
    font-size: .6em;
    text-decoration: none;
    color: black;
}
.summary-item article h3 {
    margin-top: 2px;
    padding: 2px;
    background-color: #044b041f;
    transition: .3s;
    color: #044b04;
    border-radius: 4px;
    border-color: transparent;
}
.summary-item h3 {
    text-align: center;
}
.summary-item article > a:hover,
.index-item-content h3 a:hover {
    color: #044b04;
    text-decoration: none;
}
.summary-item p,
.index-item-content p {
    height: 60px;
    text-indent: 24px;
    font-size: .4em;
}
.summary-item article img {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 0px #0000001c;
}
.summary-item footer,
.index-item-content footer {
    align-self: flex-end;
    text-align: end;
    font-size: .4em;
}
.summary-article {
    padding-left: 32px;
    padding-right: 32px;
}
.summary-article p,
.panel p {
    text-indent: 24px;
    line-height: 1.8em;
    text-align: justify;
    color: #404040;
}
.summary-article strong {
    color: #044b04;
}
.summary-article a {
    text-decoration: none;
    font-weight: bold;
    color: #044b04;
}
.summary-article a::before {
    content: '» ';
}

/* Index Section */
.index-item {
    margin-bottom: 8px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 24px;
}
.index-item article img {
    width: 90%;
}
.index-item-content {
    padding: 0 16px;
}
.index-item-content p {
    font-size: .9em;
}
.index-item-content h3 a {
    font-size: 1em;
}
.index-item-content footer {
    font-size: .9em;
}
